<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leaderboard</title>
    {{ bootstrap.load_css() }}
</head>
<body>
    <div class="container">
        <h1 class="my-4">Leaderboard</h1>
        <ul class="list-group">
            {% for score in scores %}
                <li class="list-group-item">{{ score.username }}: {{ score.score }}</li>
            {% endfor %}
        </ul>
        <a href="{{ url_for('index') }}" class="btn btn-secondary mt-4">Back to Quizzes</a>
    </div>
    {{ bootstrap.load_js() }}
</body>
</html>
